html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset css */
body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1150px;
    width: 95%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: #f6f9f9;
    width: 95%;
    margin: 0 auto;

}

header .logo_text {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
    left: 10px;
}

header .logo {
    margin-top: 30px;
}

.container2 {
    background-image: url('./images/top_background.png');
    background-repeat: no-repeat;
    height: 800px;
    width: 95%;
    margin: 0 auto;
}

.container2 h1 {
    text-align: center;
    font-size: 120px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 220px;
}

.container2 i {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 2px;
    background: #15a4fa;
    margin-top: 3vh;
}

.container2 .descr {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-top: 3vh;
}

.container2 .btn {
    text-align: center;
    margin-top: 10vh;
}

.container2 .btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 1px solid #15a4fa;
    padding: 20px 35px;
    border-radius: 3px;

}

.container2 .btn a:hover {
    font-size: 20px;
    background: #15a4fa;
    border-radius: 5px;
}

.container3 {
    width: 95%;
    background-color: #f6f9f9;
    height: 340px;
    margin-top: -82px;
    position: relative;
    margin: 0 auto;
}



.container3 .tema {
    text-align: center;
    font-size: 40px;
    color: #2d3950;
    padding-top: 80px;

}

.container3 .simpletext {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    color: #999999;
}

.container4 {
    height: 340px;
    margin: 0 auto;
    width: 95%;
    background-color: #ffffff;
    margin-top: 65px;
    display: flex;
}



.container4 .telefon {
    background-image: url(./images/fonicon.png);
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;


}

.container4 .telefon1 {
    margin-top: 25px;
    display: inline;
    margin-left: 33px;

}

.container4 .telefon:hover {
    box-shadow: 3px 3px rgba(33, 0, 122, 0.5);
}



.container4 .texticon1 {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.container4 .text2icon1 {
    margin-top: 15px;
    font-size: 15px;
    color: #999999;
    text-align: center;

}

/* для block2 */
.container4 .telegram {
    margin-top: 25px;
    margin-left: 33px;
}

.container4 .telegram:hover {
    box-shadow: 3px 3px rgb(165, 157, 157, 0.5)
}

/* для block3 */
.container4 .dinamic {
    margin-top: 25px;
    margin-left: 33px;
}

.container4 .dinamic:hover {
    box-shadow: 3px 3px rgb(165, 157, 157, 0.5);

}


.block1 {

    display: block;
    height: 100%;
    width: 33%;
    justify-content: center;

}

.block2 {
    display: block;
    width: 33%;
    height: 100%;
    display: inline-block;
    justify-content: center;

}

.block3 {
    display: block;
    width: 33%;
    height: 100%;
    display: inline-block;
    justify-content: center;

}

/* ______________КАРТИНКИ______________________ */

.image {
    height: 100%;
    margin: 0 auto;
    width: 95%;
    background-color: #f6f9f9;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}

.image .textimageh3 {
    font-size: 41px;
    text-align: center;
}

.image .textic {
    font-size: 15px;
    text-align: center;
    color: #909090;
    margin-top: 25px;
}

.kartinki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 85px;
    height: 100%;

    margin: 0 auto;
    margin-top: 85px;
}

.image-item {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.image-item:nth-child(1) {
    background-image: url(./images/image01.png)
}

.image-item:nth-child(2) {
    background-image: url(./images/Image\ 02.png);
}

.image-item:nth-child(3) {
    background-image: url(./images/Image\ 03.png);
}

.image-item:nth-child(4) {
    background-image: url(./images/Image\ 04.png);
}

.image-item:nth-child(5) {
    background-image: url(./images/Image\ 05.png);
}

.image-item:nth-child(6) {
    background-image: url(./images/Image\ 06.png);
}

.image-item-back {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 255, .5);
    opacity: 0;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-item:hover .image-item-back {
    opacity: 1;
}

.image-item-icons {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image-item-icons__item {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 255, 242);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-item-icons__item:hover {
    background-color: rgb(253, 0, 0);
}

.image-item-icons__item:nth-child(2) img {
    transform: rotate(90deg);
}

.image-item-icons__item img {
    width: 30px;
    height: 30px;
}




/* фон адресов */
.container5 {
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 700px;
    background-image: url(./images/doroga.png);
    text-align: center;

}


.container5 .nazvanie {
    margin-top: 35px;
    text-align: center;

}

.container51 {
    background-image: url(./images/dorogafon.png);
    opacity: 0.9;
    width: 100%;
    height: 700px;


}


.container5 .nazvanieinfo {
    font-size: 30px;
    color: #ffffff;
    margin-top: -20px;
}

.container5 .nazvanietext {
    font-size: 15px;
    color: #909191;
    margin-top: 30px;
}

.container5 .form :hover {
    color: white;

}

.container5 .textname {
    justify-content: center;
    margin-top: 20px;
    text-align: left;
    background: inherit;
    width: 555px;
    height: 60px;
    color: white;

}

.container5 .textname:hover {
    background-color: white;
    color: black;
}

.container5 .message {
    margin-top: 20px;
    text-align: left;
    background: inherit;
    width: 555px;
    height: 160px;
    color: white;
}

.container5 .message:hover {
    background-color: white;
    color: black;
}

.blockmes1 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.blockmes2 {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}


.container5 .knopka {
    margin-top: 150px;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 60px;
    font-size: 15px;

}

.container5 .content {
    margin-top: 20px;
    width: 555px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.container5 .leftknopka {
    display: flex;
}

.container5 .cubic {
    width: 15px;
    height: 15px;
    margin-top: -1px;
}



.container5 .textsubscribe {
    font-size: 15px;
    color: #ffffff;
    margin-left: 15px;
}

.container5 .rightknopka a {
    padding: 10px 35px;
    font-size: 18px;
    width: 143px;
    height: 48px;
    background-color: #15a4fa;
    color: white;
    text-decoration: none;
}


.container5 .rightknopka a:hover {
    font-size: 19px;
    background: #2d3950;
    border-radius: 1px;
    border: 1px solid #15a4fa;
}


footer {
    height: 90px;
    background-color: white;
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.footertxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #9f9f9f;
}

.footer-icons {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}


.mes1 {
    width: 40px;
    height: 40px;
    border: 1px solid #15a4fa;
    border-radius: 1px;
    background-color: #15a4fa;

}

.mes1:hover {
    background-color: #3b5998;
}


.mes2 {
    width: 40px;
    height: 40px;
    border: 1px solid #15a4fa;
    border-radius: 1px;
    background-color: #15a4fa;

}

.mes2:hover {
    background-color: #55acee;
}


.mes3 {
    width: 40px;
    height: 40px;
    border: 1px solid #15a4fa;
    border-radius: 1px;
    background-color: #15a4fa;

}

.mes3:hover {
    background-color: #dd4b39;
}


.mes4 {
    width: 40px;
    height: 40px;
    border: 1px solid #15a4fa;
    border-radius: 1px;
    background-color: #15a4fa;

}

.mes4:hover {
    background-color: #0976b4;
}

.in {
    margin-top: 13px;
    margin-left: 15px;
}



.mes1 a {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(./images/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}


.mes2 a {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(./images/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mes3 a {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(./images/google.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mes4 a {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(./images/linked.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width: 1300px) {
    .center {
        width: 90%;
    }
}

@media(max-width: 700px) {
    .container2 i {
        width: 80%;
    }

    .container2 .descr {
        width: 75%;
        margin: 3vh auto 0 auto;
    }

    .container2 h1 {
        font-size: 80px;
    }
}

@media(max-width: 430px) {
    .container3 .center p {
        font-size: 20px;
    }

    .image-item {
        width: 300px;
        height: 200px;
    }

}



@media(max-width: 1200px) {
    .image .kartinki {
        max-height: none;
    }


}



@media(max-width: 400px) {
    .kartinki .im {
        width: 90%;
    }
}

@media(max-width: 768px) {
    .image .textimage h3 {
        font-size: 30px;
    }
}

@media(max-width: 430px) {
    .image .textimage h3 {
        font-size: 20px;
    }
}